/* base.html- navigation bar */
/* base.html- navigation bar */
/* base.html- navigation bar */

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  cursor: url("img/cursor.cur"), auto;
}
.bar {
  width: 100%;
  height: 120px;
  margin: 0;
  background-color: #242424;
  align-items: center;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  line-height: 120px;
  width: 80px;
  height: 80px;
}
.title {
  margin-left: 20px;
  line-height: 120px;
  font-size: 20px;
  color: white;
}
.bar_left {
  margin-right: auto;
  height: 120px;
  align-items: center;
  display: flex;
}
.bar_right {
  margin-left: auto;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.bar_profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: url("img/click.cur"), auto;
}
a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  cursor: url("img/click.cur"), auto;
}
.bar_profile {
  margin-right: 20px;
}

/* main.html */
/* main.html */
/* main.html */

.content_box {
  width: 80%;
  height: 830px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 auto;
  text-align: center;
  display: flex;
}

.youtube_box {
  width: 48%;
  height: 90%;
  margin-right: auto;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.articles_box {
  width: 48%;
  height: 90%;
  margin-left: auto;
  display: flex;
  background-color: #e6e6e6;
  border-radius: 15px;
  overflow: scroll;
}

.player {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.article_box {
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 30px;
}

.article {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffffff;
}

.article a {
  color: #242424;
  font-weight: bold;
  margin-top: 10px;
  word-break: keep-all;
  cursor: url("img/click.cur"), auto;
}

.article p {
  margin-left: 20px;
  margin-right: 20px;
  word-break: keep-all;
}

.article_box h4 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: larger;
  text-align: left;
  margin-left: 40px;
}

.pic {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* create.html */
/* create.html */
/* create.html */

.alert_box {
  width: 48%;
  height: 90%;
  margin-right: auto;
  background-color: #e6e6e6;
  align-items: center;
  border-radius: 15px;
}
.alert_box h2 {
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 30px;
}
.alert_box ul {
  font-size: 20px;
  list-style: none;
}
.img_box {
  width: 48%;
  height: 90%;
  margin-left: auto;
  background-color: #e6e6e6;
  align-items: center;
  border-radius: 15px;
}

#output {
  margin-top: 60px;
  border-radius: 15px;
  object-fit: cover;
  opacity: 0.8;
}

.upload_btn {
  width: 520px;
  height: 70px;
  background-color: #242424;
  border-radius: 15px;
  border: 3px solid #e6e6e6;
  font-size: 25px;
  color: #e6e6e6;
  cursor: url("img/click.cur"), auto;
}

.upload_btn :hover {
  background-color: #e6e6e6;
  color: #242424;
}
#pill_sample {
  margin-left: 20px;
  border-radius: 15px;
}
.alert_box p {
  font-size: 20px;
  margin-top: 40px;
}
.input-button {
  display: flex;
  justify-content: center;
  margin-left: 120px;
}

/* mypage.html */
.profile_box {
  margin: auto;
  display: flex;
  width: 50%;
  border-radius: 15px;
  padding: 50px 0;
  
  align-items: center;
  margin-top: 100px;
  background-color: #e6e6e6;
}

.profile_img {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile_info_text{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
#update_password_check{
  margin-top:10px;
}
#update_password_{
  margin-top:10px;
}
#update_present_pw{
  margin-top: 10px;
}
#update_username{
  margin-left: 20px;
  width:40%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#profile_img_mypage {
  border-radius: 50%;
}
#update_nickname{
  margin-left: 40px;
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  
}
.upload_btn_mypage_ {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 198px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border:#747474 solid 1px;
  border-radius: 15px;
  cursor: url("img/click.cur"), auto;
}
.upload_btn_mypage_:hover {
  background-color: #242424;
  color: #e6e6e6;
}

.edit_btn_mypage {
  width: 100px;
  height: 50px;
  background-color: #242424;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: url(img/click.cur), auto;
  color: #e6e6e6;
  margin-top: 20px;
  float: right;
  margin-left: 300px;

}
.edit_btn_mypage:hover {
  background-color: #e6e6e6;
  color: #242424;
}
#modalOpenButton,
#modalCloseButton {
  cursor: url(img/click.cur), auto;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 150px;
  padding: 15px;
}

#modalContainer.hidden {
  display: none;
}

/* login.html */
/* login.html */
/* login.html */
/* signup.html */
/* signup.html */
/* signup.html */

.h1 {
  float: center;
}

.h2 {
  margin-top: 100px;
}

.login2 {
  width: 35%;
  height: 300px;
  background-color: #242424;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}
.login_sn {
  width: 35%;
  height: 450px;
  background-color: #242424;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}

.text {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.text_box {
  text-align: right;
  justify-content: center;
  width: 100%;
  color: #e6e6e6;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  line-height: 50px;
}

.input {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.blank {
    width: 80%;
    color: #242424;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
    background-color: #f1f1f1;
    border: none;
}
.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}
.btn{
    width: 40%;
    height: 50px;
    background-color: #e6e6e6;
    margin: 0 auto;
    color: #242424;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 50px;
    border-radius: 15px;
}
.btn:hover{
    background-color: #242424;
    color:#e6e6e6;
    cursor: url(img/click.cur), auto;
}



/* manual.html */
/* manual.html */
/* manual.html */



.register_box {
    width: 70%;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.left_info {
    width: 35%;
    height: 93%;
    margin: auto;
    background-color: #242424;
    align-items: center;
    border-radius: 15px;

}

.right_info {
    width: 60%;
    height: 93%;
    margin: auto 0;
    margin-right: auto;
    background-color: #242424;
    align-items: center;
    border-radius: 15px;
}

.registerpage {
    text-align: center;
    margin-top: 50px;
}

.register_btn {
    width: 100px;
    height: 50px;
    margin-right: 15%;
    margin-top: 20px;
    float: right;
    justify-content: center;
    background-color: #242424;
    border-radius: 15px;
    color: #e6e6e6;
    align-items: center;
    line-height: 50px;
    font-size: 17px;
}

.register_btn:hover {
    background-color: #e6e6e6;
    color: #242424;
}

.register_image {
    width: 50%;
    height: 50%;
    aspect-ratio: auto 1 /1;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
}

.register_pill_img {
    width: 100%;
    height: 80%;
    background-color: gray;
    border-radius: 15px;
}

.upload_btn_register {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    justify-content: center;
    background-color: #242424;
    border-radius: 15px;
    color: #e6e6e6;
    align-items: center;
    line-height: 30px;
    font-size: 17px;
}

.upload_btn_register:hover {
    background-color: #e6e6e6;
    color: #242424;
    cursor: url(img/click.cur), auto;
}

.company {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company_title {
    color: #e6e6e6;
    font-size: 20px;
    width: 30%;
    text-align: left;

}

.company_input {
    width: 50%;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 15px;
}

#company_input {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.pill_name {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill_title {
    color: #e6e6e6;
    font-size: 20px;
    width: 30%;
    text-align: left;
}

.pill_input {
    width: 50%;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 15px;
}

#pill_input {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.dropdown-label {
    font-size: 12px;
    margin: 10px;
    font-weight: bold;
    color: #242424;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn_icon {
    font-family: 'Material Icons';
}

.dropbtn {
    display: block;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    background-color: #e6e6e6;
    color: #242424;
    width: 104%;
    text-align: left;
    cursor: url(img/click.cur), auto;
}

.dropdown-content {
    display: none;
    font-weight: 600;
    background-color: #e6e6e6;
    min-width: 104%;
    height: 160px;
    overflow: scroll;
    cursor: url(img/click.cur), auto;
}

.dropdown-content::-webkit-scrollbar {
    width: 10x;
    height: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #242424;
}

.dropdown-content div {
    display: block;
    text-decoration: none;
    color: #242424;
    font-size: 12px;
    padding: 12px 20px;
}

.dropdown-content div:hover {
    background-color: #e6e6e6;
}

.dropdown-content.show {
    display: block;
}

.color_picker {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    height: 70px;
    display: flex;
    cursor: url(img/cursor.cur), auto;
}

.color_title {
    color: #e6e6e6;
    font-size: 20px;
    height: 20px;
    width: 20%;
    line-height: 70px;
    text-align: center;
    float: left;
    cursor: url(img/cursor.cur), auto;

}


#backgroundColorPicker {
    margin-left: 10px;
    width: 80%;
    height: 70px;
    cursor: url(img/click.cur), auto;
}

.pill_text {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

.pill_text_title {
    color: #e6e6e6;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 20%;
    line-height: 40px;
}

.input_AT {
    width: 80%;
    height: 100%;
    margin-left: 10px;
    cursor: url(img/click.cur), auto;
}

#pill_text {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 15px;
}

.pill_sort {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;

}

.input_frame{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.pill_sorting{
    width: 20%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: url(img/click.cur), auto;
}
.pill_sorting_text{
    color: #e6e6e6;
    font-size: 17px;
    height: 20px;
    text-align: center;
    width: 100%;
    line-height: 20px;
}



/* mypage-modal */
.password_edit_box{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password_btn_mypage {
    background-color: #242424;
    border: none;
    border-radius: 10px;
    cursor: url(img/click.cur), auto;
    width: 100px;
    height: 28px;
    font-size: 15px;
    font-weight: bold;
    color: #e6e6e6;
    margin-left: 30px;
}

.password_edit {
    display: flex;
    align-items: center;
}

.password_btn_mypage:hover {
    background-color: #e6e6e6;
    color: #242424;
    border: #242424 solid 1px;
}

.myModal {
    display: none;
    background-color: #e6e6e6;
    border: #747474 solid 3px;
    color: #242424;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 500px;
}

.close {
    color: #242424;
    font-size: 28px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.modal-header {
    padding: 2px 16px;
    display: block;
    background-color: #e6e6e6;
    color: #242424;
    border-radius: 15px 15px 0 0;
}

.modal_text {
    font-size: 20px;
    margin-left: 80px;
}

.myModal h2 {
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
}

.btn-primary {
    background-color: #242424;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    line-height: 40px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #e6e6e6;
    float: center;
    margin-left: 200px;
    margin-bottom: 30px;

}

.btn-primary:hover {
    background-color: #afafaf;
    color: #242424;
    border: #242424 solid 1px;
}

.form-control {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 3px;
}